<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.cdnfonts.com/css/felidae" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/manrope" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link href="https://db.onlinewebfonts.com/c/3295314e055fdc8efa7b9c614782bbbc?family=Nohemi+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body style="background-color: black;">
<header>
        <nav class="navbar navbar-expand-lg  ">
            <a class="navbar-brand Logo" href="{% url 'main' %}" >
                LOWESSO
            </a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse   " id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item ">
                    <a class="nav-link  " href="{% url 'main' %}">
                        Главная
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " value="active" href="{% url 'catalog' %}">
                        Каталог
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'basket' %}" >
                        Корзина
                    </a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <script src="{% static 'Doors_cart.js' %}"></script>
        {% block content %}{% endblock %}
    <footer></footer>

</body>
</html>