{% extends "base.html" %}
<title>Cart</title>
{% block content %}
    <main class="container-fluid top-line">
        <div class="row">
            <div class="col-lg-6 line orders">
                {% for order in orders %}
                <div class="order container-fluid " id="#order-{{ order.pk }}">
                    <div class="image"><img src="{{ order.door.image.url }}" alt=""></div>
                    <div class="door">
                        <div class="top inline">
                            <span class="name">{{ order.door.shape.name }}</span>
                            <span class="price">{{ order.door.price }}</span>
                        </div>
                        <div class="bottom inline">
                            <span class="delete"><a onclick="">Удалить</a></span>
                            <div class="buttons">
                                <button class="butn-dark" value="{{ order.pk }}" onclick="edit(this,-1)">-</button>
                                <div class = 'pk' id='count-{{ order.pk }}'>{{order.count}}</div>
                                <button class="butn-light" value="{{ order.pk }}" onclick="edit(this,1)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-6"></div>
        </div>
    </main>
{% endblock %}