{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}
    <main >
        <h1>Filter Doors</h1>
    <div class="box" style="display: flex">
        <div class="image_box"  style="width: 300px">
            <img  class="Door" id="Door_image" src="/media/door_images/dino.png" alt="" height="200px" >
        </div>
        <div>
            <form method="post" action="{% url 'main' %}">
                 {% csrf_token %}
                <input type="hidden"  name = "code" id ="code" value="{{unique_id}}">
                <input type="hidden" name = "door" id ="door" value="">

                <label >Select Shape:</label>
                <div id = 'select_shape'>

                </div>

                <div id="select_portal" >
                    <label >Select Portal:</label>
                    <br>


                </div>


                <div id="select_bevel" >
                    <label >Select Bevel:</label>
                    <br>


                </div>


                <div id="select_molding" >
                    <label >Select Molding:</label>
                    <br>

                </div>


                <div id="select_color" >
                    <label >Select Color:</label>
                    <br>

                </div>
                <br>
                <button type="submit" onclick="validate()">Submit</button>
            </form>
        </div>

    </div>
    <div><a href="{% url 'basket' %}"> <button>Orders</button> </a></div>


    <script>
        const get_data = {{data|safe}};
    </script>

    <script src="{% static 'script.js' %}"></script>
    </main>

{% endblock %}



