{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
    <main class="container-fluid top-line">
        <div class="row">
            <div class="col-lg-6 Line orders">
                {% for order in orders %}
                <div class="order container-fluid " id="#order-{{ order.pk }}">
                    <div class="image"><img src="{{ order.door.image.url }}" alt=""></div>
                    <div class="door">
                        <div class="top inline">
                            <span class="name">{{ order.door.shape }}</span>
                            <span class="price" id='price-{{ order.pk }}'>{{ order.door.price }}</span>
                        </div>
                        <div class="bottom inline">
                            <span class="delete"><a onclick="">Удалить</a></span>
                            <div class="buttons">
                                <button class="butn-dark" value="{{ order.pk }}" onclick="edit(this,-1)">-</button>
                                <div class = 'pk' id='count-{{ order.pk }}'>{{order.count}}</div>
                                <button class="butn-light" value="{{ order.pk }}" onclick="edit(this,1)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <div>
                    <h3>Оформление</h3>
                    <h3> заявки для заказа:</h3>
                </div>
                <form>
                    <div class="text">
                        <input type="text" name="name" id ='FullName' placeholder="ФИО">
                        <input type="text" name="phone" id="phone" placeholder="Телефон">
                    </div>
                    <div class="check">
                        <label>Доставка</label>
                        <input type="checkbox">
                        <label>Бесплатный замер проемов</label>
                        <input type="checkbox">
                    </div>


                </form>

            </div>
        </div>
    </main>
{% endblock %}